@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.creativearts-eventsdata {
  padding: 5rem 2rem;
  left: 0px;
  top: 0px;
  background: #161626;
  /* background: linear-gradient(180deg, #5f2501 0%, #1f1e1f 100%);
             */
  /* background-image: url("../../utils//images/eventbg/creativearts.svg"); */
  /* background-size: cover;
      background-position: center;
      background-attachment: fixed; */
}

.creativearts-title {
  font-size: 3em;
  padding-top: 30px;
  /* margin: 50px; */
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: #d4cef8;
  text-shadow: 0px 0px 7px #9f91f8, 0px 0px 10px #4028da, 0px 0px 21px #4028da,
    0px 0px 42px #4028da, 0px 0px 82px #4028da, 0px 0px 92px #4028da;
}

.creativearts-description {
  font-size: larger;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 2.5em;
}

.creativearts-content {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  color: white;
}
.creativearts-top {
  margin: 2em 3em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* margin: 20px; */
  /* padding: 20px; */
  justify-content: center;
  align-items: flex-start;
  background: #4028da;
}
.creativearts-content h2 {
  text-align: center;
}
.creativearts-top h3 {
  padding: 10px 20px;
  /* color: white; */
}
.creativeartsSubtitle {
  color: #836fff;
  letter-spacing: 1px;
  margin-top: 10px;
  /* padding: 10px 10px 10px 4px; */
}
.creativearts-content2 {
  background-color: #1f1e1f;
  background: rgba(228, 189, 157, 0.1);
  border-radius: 8px;
  padding: 20px;
  justify-content: space-between;
}
.creativeartsc-rules {
  padding: 4px 5px 5px 5px;
}
.creativearts-content {
  /* margin: 50px; */
  color: white;
  text-align: left;
  justify-content: center;
}
.creativearts-contact {
  padding-top: 50px;
  color: white;
}
.creativearts-contact > h3 {
  color: #836fff;
}
.creativearts-btn {
  float: right;
  padding: 30px;
  margin-top: -77px;
  /* border: solid 2px black; */
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  color: #1f1e1f;
}
.creativearts-btn:hover {
  background-color: #fce6d9;
  color: black;
}

.creativearts-items {
  padding: 10px;
  color: white;
}

.flexcreativearts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.creativeartshead {
  color: #161626;
  font-weight: 600;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}
.creativeartsMainContent {
  padding: 20px;
  margin: 50px;
  background: #1d1a39;
  border-radius: 10px;
}
.rules {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .creativearts-title {
    font-size: 24px;
  }
  .creativearts-top {
    margin: 2em 0.8em;
    flex-direction: column;
    align-items: flex-start;
  }
  .creativeartsMainContent {
    margin: 30px 10px;
  }
  .creativearts-eventsdata {
    background-image: url("../../utils//images/event-gb-mob/creativearts.svg");
    background-attachment: fixed;
  }
  .creativearts-description {
    font-size: medium;
    margin: 10px 0.8em;
  }
}
