@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.movies-eventsdata {
  padding: 5rem 2rem;
  left: 0px;
  top: 0px;
  background: #021309;
  /* background: linear-gradient(180deg, #5f2501 0%, #1f1e1f 100%);
             */
  /* background-image: url("../../utils//images/eventbg/movies.svg"); */
  /* background-size: cover;
      background-position: center;
      background-attachment: fixed; */
}

.movies-title {
  font-size: 3em;
  padding-top: 30px;
  /* margin: 50px; */
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: #bef3f1;
  text-shadow: 0px 0px 7px #8dedea, 0px 0px 10px #1ec6c1, 0px 0px 21px #1ec6c1,
    0px 0px 42px #1ec6c1, 0px 0px 82px #11a29d, 0px 0px 92px #057571;
}

.movies-description {
  font-size: larger;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px 2.5em;
}

.movies-content {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  color: white;
}
.movies-top {
  margin: 2em 3em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  /* margin: 20px; */
  /* padding: 20px; */
  justify-content: center;
  align-items: flex-start;
  background: #079482;
}
.movies-content h2 {
  text-align: center;
}
.movies-top h3 {
  padding: 10px 20px;
  /* color: white; */
}
.moviesSubtitle {
  color: #1ec6c1;
  letter-spacing: 1px;
  margin-top: 10px;
  /* padding: 10px 10px 10px 4px; */
}
.movies-content2 {
  background-color: #1f1e1f;
  background: rgba(228, 189, 157, 0.1);
  border-radius: 8px;
  padding: 20px;
  justify-content: space-between;
}
.moviesc-rules {
  padding: 4px 5px 5px 5px;
}
.movies-content {
  /* margin: 50px; */
  color: white;
  text-align: left;
  justify-content: center;
}
.movies-contact {
  padding-top: 50px;
  color: white;
}
.movies-contact > h3 {
  color: #1ec6c1;
}
.movies-btn {
  float: right;
  padding: 30px;
  margin-top: -77px;
  /* border: solid 2px black; */
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  color: #1f1e1f;
}
.movies-btn:hover {
  background-color: #fce6d9;
  color: black;
}

.movies-items {
  padding: 10px;
  color: white;
}

.flexmovies {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.movieshead {
  color: #021309;
  font-weight: 600;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}
.moviesMainContent {
  padding: 20px;
  margin: 50px;
  background: #032c21;
  border-radius: 10px;
}
.rules {
  margin-top: 10px;
}

@media screen and (max-width: 480px) {
  .movies-title {
    font-size: 24px;
  }
  .movies-top {
    margin: 2em 0.8em;
    flex-direction: column;
    align-items: flex-start;
  }
  .moviesMainContent {
    margin: 30px 10px;
  }
  .movies-eventsdata {
    background-image: url("../../utils//images/event-gb-mob/movies.svg");
    background-attachment: fixed;
  }

  .movies-description {
    font-size: medium;
    margin: 10px 0.8em;
  }
}
